<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MecaGreen Industrie</title>
        <!------------------------------------CSS----------------------------->

        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">


        <!------------------------------------JS----------------------------->
        <!------------------------------------FAVICON ----------------------------->
        <link rel="icon" type="image/png" href="public/img/favicon.png" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        
        <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/blink.js') }}"></script>
        {% endblock %}
    </body>
</html>
